[user]
	name = Bill Kolokithas
	email = billk@skroutz.gr
[push]
	default = current
[branch]
	autosetuprebase = always
[color]
	status = auto
	branch = auto
	ui = true
[credential]
	helper = cache --timeout=7200
[core]
	editor = nvim
	excludesfile = /home/billk/.gitignore_global
[diff]
	tool = nvimdiff
	noprefix = true
[difftool]
	prompt = false
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[alias]
	co = checkout
	st = status
	re = rebase
	me = merge
	fe = fetch
[url "git@github.skroutz.gr:"]
	insteadOf = deploy:
	insteadOf = skroutz:
[rebase]
	autosquash = true
