!vim
!vim/.vim
!vim/.vim/bundle
vim/.vim/bundle
vim/.vim/.netrwhist
!vim/.vim/bundle/Vundle.vim
ranger/.config/ranger
ranger/.config/ranger/commands.py
ranger/.config/ranger/rc.conf
ranger/.config/ranger/rifle.conf
