xset r rate 340 40
xset -dpms
xset s off
xset +fp /usr/share/fonts/X11/misc
xset fp rehash
xrdb -merge ~/.Xresources
setxkbmap -option
setxkbmap -layout us,gr -option grp:shifts_toggle,caps:escape,grp_led:caps
xbindkeys -p
xrandr --output DP-1-2 --mode 1920x1080 --rate 60 --right-of eDP-1
xrandr --output DP-1-3 --mode 1920x1080 --rate 60 --right-of DP-1-2
