ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="2516", ATTRS{idProduct}=="0004", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/billk/.Xauthority", RUN+="/home/billk/scripts/keyboard_settings", OWNER="billk"
